#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_mainDiv{
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.travel_mainDiv img{
width: 100%;
}
.travel_mainDiv hr{
    width: 230px;
}
.travel_mainDiv h5{
    margin-left: 20px;
    
}
.travel_mainDiv p{
    margin-left: 20px;
    
}
.movie_head{
    font-size: 20px;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
    float: right;
}
.environment_li{
    margin-top: 13px;
}

.environment_li h4{
    padding: 8px;
}













